.SquareLoader {
    margin: 0 auto 10px;
    width: 100px;
    height: 100px;
    background-color: black;
    animation: suquare;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    timing-funciton: ease;
    animation-direction: alternate;
}

@keyframes suquare {
    0% {
        transform: scale(0);
    }
    /* 50% {
        transform: rotateX(180deg);
    } */
    100% {
        transform: scale(1);
    }
}

.SquareSpinner {
    margin: 0 auto 10px;
    width: 100px;
    height: 100px;
    background-color: black;
    animation: square-spinner;
    animation-iteration-count: infinite;
    animation-duration: 1.2s;
    /* animation-direction: alternate; */
}

@keyframes square-spinner {
    0% {
        transform: perspective(200px) rotateX(0) rotateY(0);
    }
    50% {
        transform: perspective(200px) rotateX(-180deg) rotateY(0);
    }
    100% {
        transform: perspective(200px) rotateX(-180deg) rotateY(-180deg);
    }
}
